html,
body {
  font-family: "sans-serif";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 100%;
  line-height: 1;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand_Bold";
  src: url("../fonts/Quicksand_Bold.otf") format("woff2");
  font-style: normal;
}

.layout {
  animation: gradientBG 7s ease alternate infinite;
  background: linear-gradient(-45deg, #9a07b3, #fc2d57, #255ef4, #15aaff)
    no-repeat;
  background-size: 300% 300%;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    max-width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    @media (max-width: 850px) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 400px;
      margin: 1rem;
    }
    h1 {
      max-width: 600px;
      margin: 1rem;
      font-family: "Quicksand_Bold", sans-serif;
      color: white;
      font-size: 2rem;
      line-height: 1.5;
      div {
        max-width: 50px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
    span {
      font-size: 3rem;
    }
  }
}

@keyframes gradientBG {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
